// _sass/custom/_custom.scss

// Reduce all font sizes globally
$font-size-base: 0.75rem; 

$h1-font-size: 1.5rem;   // Smaller h1
$h2-font-size: 1.25rem;     // Smaller h2
$h3-font-size: 1rem;  // Smaller h3

body {
  font-size: 0.75rem; // Decrease font size globally
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}