
// Reduce all font sizes globally
$font-size-base: 0.75rem; 

$h1-font-size: 1.5rem;   // Smaller h1
$h2-font-size: 1.25rem;     // Smaller h2
$h3-font-size: 1rem;  // Smaller h3

body {
  font-size: 0.75rem; // Decrease font size globally
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
  margin-top: 0.5em;
}

h3 {
  font-size: $h3-font-size;
}

/* Style for the typing effect */
.typing-container h1 {
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden; /* Ensure no overflow */
  border-right: 0.1em solid black; /* Simulate a typing cursor */
  width: 0;  /* Start with width 0 */
  animation: typing 2s steps(6) 1s forwards, blink 0.75s step-end 2s forwards, disappear 2s 4s forwards;
}

/* Keyframe for typing effect */
@keyframes typing {
  to {
    width: 6ch; /* "Hello!" is 6 characters long */
  }
}

/* Keyframe for blinking cursor */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Animation for disappearing cursor */
@keyframes disappear {
  to {
    border-color: transparent; /* Remove cursor */
  }
}